# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\tarahi web\proje yaghoobi(khoshkbar)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
